<%= form_with(model: todolist) do |form| %>
  <% if todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
        <% todolist.errors.full_message.each do |message| %>
          <li><%=message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class="field form-group"
    <%= form.label :Tasks, style: "display: block" %>
    <%= form.text_field :Tasks, class:"form-control", placeholder:"Description" %>
  </div>

  <div class="field form-group"
    <%= form.label :Priority, style: "display: block" %>
    <%= form.text_field :Priority, class:"form-control", placeholder:"High Low Medium" %>
  </div>

  <div class="field form-group"
    <%= form.label :Urgency, style: "display: block" %>
    <%= form.number_field :Urgency, class:"form-control", placeholder:"1-5" %>
  </div>

  <div class="field form-group"
    <%= form.label :Active, style: "display: block" %>
    <%= form.check_box :Status %>
  </div>

  <div class="field form-group"
    <%= form.label :Category, style: "display: block" %>
    <%= form.text_field :Category, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
