<div id="<%= dom_id todolist %>">
  <p>
    <strong>Tasks:</strong>
    <%= todolist.Tasks %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= todolist.Priority %>
  </p>

  <p>
    <strong>Urgency:</strong>
    <%= todolist.Urgency %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= todolist.Status %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= todolist.Category %>
  </p>

</div>
